<%- include('head') -%>
  <div id="header" class="header">

    <div id="logo" class="logo">
      <a href="/"><img src="/public/mainLogo.jpg" alt="logo" /></a>
    </div>
    <%- include('navbar') -%>




  </div>
  <%- include('flash') -%>
