<%- include('header') -%>


    <div id="home" class="home">
      <div id="home-content" class="home-content">
        <h1>CRUD Code Snippets</h1>
        <p>
          Welcome to my CRUD website, here you will be able to create your own code snippets and share it.

        </p>
        <p>
     
            You can also view other code snippets published by other users.

          </p>

          <p>
            This wesbite was created using Express JS, MongoDB, while maintaining a MVC structure.
  
          </p>
        
      </div>

    </div>
