
<div id="navbar" class="navbar">
  

    <ul> <a href="/"> Home</a> </ul>
    <ul> <a href="/snippet"> Browse</a> </ul>
    
    <% if (user) { %>
      <ul> <a href="/logout"> Logout</a> </ul>
    <% } else { %>   
      <ul> <a href="/login"> Login</a> </ul>
      <ul> <a href="/register"> Register</a> </ul>
    <% } %>
    <% if (user) { %>
      <ul id="user" class="user">
        <p> Welcome, <%= user.name %>
        </p>
      </ul>
      <% } %>
  
  </div>
  
  