<!-- the view of the register page of the user -->
<!-- the user can register with his name, email and password -->

<%- include('header') -%>

<div class="register-container">

  <form id="register" action="/register" class="register" method="post">

    <div class="form-group">
      <label for="first-name">First name</label>
      <input type="text" class="form-control" id="first-name" name="firstName" placeholder="First name" value="<%= info && info.firstName ? info.firstName : '' %>">
    </div>

    <div class="form-group">
      <label for="last-name">Last name</label>
      <input type="text" class="form-control" id="last-name" name="lastName" placeholder="Last name" value="<%= info && info.lastName ? info.lastName : '' %>">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="username" value="<% info && info.username ? info.username : '' %>">
    </div>

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="<%= info && info.email ? info.email : '' %>">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
    </div>

    <button type="submit" class="register-btn">Register</button>
  
  </form>

</div>
