
.snippets-page-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .snippets-page {
    margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
  }
  
  
  input[type="radio"] {
    display: none;
  }
  

  .single {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .snippet {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    width: 70%;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #444;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 20px #bebebe, -2px -2px 20px #ffffff;
  }
  
  .snippet-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .snippet-title {
    grid-column: span 2;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .edit-delete-btns {
    display: flex;
  }
  
  .edit-link,
  .delete-link {
    margin-left: 10px;
  }
  
  .snippet-info {
    grid-column: span 2;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .snippet-description {
    padding: 10px;
    grid-column: span 2;
  }
  
  .code {
    grid-column: span 2;
    overflow-x: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 10px;
  }
  
  h3, h4, p {
    margin: 0;
  }
  
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  .create-link,
  .edit-link,
  .delete-link {
    padding: 10px 16px;
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .delete-link {
    background-color: #b80505;
  }
  
  .create-link:hover,
  .edit-link:hover {
    background-color: #005da4;
  }
  
  .delete-link:hover {
    background-color: #f00;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  }
  